.r-row {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.r-row, .r-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    max-width: 100%;
}

.r-col {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.r-full {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.r-full, .r-fill {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.r-fill {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.r-fill-max {
    -webkit-box-flex: 100;
    -webkit-flex-grow: 100;
    -ms-flex-positive: 100;
    flex-grow: 100;
}

.r-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.r-no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.r-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.r-wrap-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.r-self-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.r-items-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.r-content-start {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.r-main-center {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.r-wrap-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.r-self-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.r-items-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.r-content-center {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.r-wrap-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.r-self-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.r-items-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.r-content-end {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.r-space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.r-space-around {
    -webkit-box-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.r-inline {
    display: inline;
}

.r-inline-block {
    display: inline-block;
}

.r-block {
    display: block;
}

.r-table-wrap {
    display: table;
    table-layout: fixed;
}

.r-table-center {
    display: table-cell;
    vertical-align: middle;
}

.r-blank-block {
    background: rgba(0, 0, 0, .2);
}

.r-nav-item {
    text-align: center;
    padding: 20px 0;
}

.r-overflow-hidden {
    overflow: hidden;
}

.r-border {
    border: 1px solid rgba(0, 0, 0, .1);
}

.r-border-x {
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.r-border-y {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.r-border-left {
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.r-border-right {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.r-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.r-divider.r-thin {
    margin-top: 8px;
    margin-bottom: 8px;
}

.r-divider, .r-blank-block.r-border {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.r-divider.r-light, .r-blank-block-light.r-border-light {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.r-blank-block.r-border {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.r-nav-item.r-border {
    border: 1px solid rgba(0, 0, 0, .1);
    border-left: none;
}

.r-nav-item.r-first.r-border {
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.r-responsive img {
    max-width: 100%;
    height: auto;
    display: block;
}

.r-text-center {
    text-align: center;
}

.r-full-height {
    height: 100%
}

.r-full-width {
    width: 100%
}

.r-center {
    margin-left: auto;
    margin-right: auto;
}

.r-sticky {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

/* 12 row col */

.r-col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.r-col.offset-s1 {
  margin-left: 8.3333333333%;
}

.r-col.pull-s1 {
  right: 8.3333333333%;
}

.r-col.push-s1 {
  left: 8.3333333333%;
}

.r-col.offset-s2 {
  margin-left: 16.6666666667%;
}

.r-col.pull-s2 {
  right: 16.6666666667%;
}

.r-col.push-s2 {
  left: 16.6666666667%;
}

.r-col.offset-s3 {
  margin-left: 25%;
}

.r-col.pull-s3 {
  right: 25%;
}

.r-col.push-s3 {
  left: 25%;
}

.r-col.offset-s4 {
  margin-left: 33.3333333333%;
}

.r-col.pull-s4 {
  right: 33.3333333333%;
}

.r-col.push-s4 {
  left: 33.3333333333%;
}

.r-col.offset-s5 {
  margin-left: 41.6666666667%;
}

.r-col.pull-s5 {
  right: 41.6666666667%;
}

.r-col.push-s5 {
  left: 41.6666666667%;
}

.r-col.offset-s6 {
  margin-left: 50%;
}

.r-col.pull-s6 {
  right: 50%;
}

.r-col.push-s6 {
  left: 50%;
}

.r-col.offset-s7 {
  margin-left: 58.3333333333%;
}

.r-col.pull-s7 {
  right: 58.3333333333%;
}

.r-col.push-s7 {
  left: 58.3333333333%;
}

.r-col.offset-s8 {
  margin-left: 66.6666666667%;
}

.r-col.pull-s8 {
  right: 66.6666666667%;
}

.r-col.push-s8 {
  left: 66.6666666667%;
}

.r-col.offset-s9 {
  margin-left: 75%;
}

.r-col.pull-s9 {
  right: 75%;
}

.r-col.push-s9 {
  left: 75%;
}

.r-col.offset-s10 {
  margin-left: 83.3333333333%;
}

.r-col.pull-s10 {
  right: 83.3333333333%;
}

.r-col.push-s10 {
  left: 83.3333333333%;
}

.r-col.offset-s11 {
  margin-left: 91.6666666667%;
}

.r-col.pull-s11 {
  right: 91.6666666667%;
}

.r-col.push-s11 {
  left: 91.6666666667%;
}

.r-col.offset-s12 {
  margin-left: 100%;
}

.r-col.pull-s12 {
  right: 100%;
}

.r-col.push-s12 {
  left: 100%;
}

@media only screen and (min-width: 601px) {
  .r-col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.offset-m1 {
    margin-left: 8.3333333333%;
  }
  .r-col.pull-m1 {
    right: 8.3333333333%;
  }
  .r-col.push-m1 {
    left: 8.3333333333%;
  }
  .r-col.offset-m2 {
    margin-left: 16.6666666667%;
  }
  .r-col.pull-m2 {
    right: 16.6666666667%;
  }
  .r-col.push-m2 {
    left: 16.6666666667%;
  }
  .r-col.offset-m3 {
    margin-left: 25%;
  }
  .r-col.pull-m3 {
    right: 25%;
  }
  .r-col.push-m3 {
    left: 25%;
  }
  .r-col.offset-m4 {
    margin-left: 33.3333333333%;
  }
  .r-col.pull-m4 {
    right: 33.3333333333%;
  }
  .r-col.push-m4 {
    left: 33.3333333333%;
  }
  .r-col.offset-m5 {
    margin-left: 41.6666666667%;
  }
  .r-col.pull-m5 {
    right: 41.6666666667%;
  }
  .r-col.push-m5 {
    left: 41.6666666667%;
  }
  .r-col.offset-m6 {
    margin-left: 50%;
  }
  .r-col.pull-m6 {
    right: 50%;
  }
  .r-col.push-m6 {
    left: 50%;
  }
  .r-col.offset-m7 {
    margin-left: 58.3333333333%;
  }
  .r-col.pull-m7 {
    right: 58.3333333333%;
  }
  .r-col.push-m7 {
    left: 58.3333333333%;
  }
  .r-col.offset-m8 {
    margin-left: 66.6666666667%;
  }
  .r-col.pull-m8 {
    right: 66.6666666667%;
  }
  .r-col.push-m8 {
    left: 66.6666666667%;
  }
  .r-col.offset-m9 {
    margin-left: 75%;
  }
  .r-col.pull-m9 {
    right: 75%;
  }
  .r-col.push-m9 {
    left: 75%;
  }
  .r-col.offset-m10 {
    margin-left: 83.3333333333%;
  }
  .r-col.pull-m10 {
    right: 83.3333333333%;
  }
  .r-col.push-m10 {
    left: 83.3333333333%;
  }
  .r-col.offset-m11 {
    margin-left: 91.6666666667%;
  }
  .r-col.pull-m11 {
    right: 91.6666666667%;
  }
  .r-col.push-m11 {
    left: 91.6666666667%;
  }
  .r-col.offset-m12 {
    margin-left: 100%;
  }
  .r-col.pull-m12 {
    right: 100%;
  }
  .r-col.push-m12 {
    left: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .r-col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .r-col.offset-l1 {
    margin-left: 8.3333333333%;
  }
  .r-col.pull-l1 {
    right: 8.3333333333%;
  }
  .r-col.push-l1 {
    left: 8.3333333333%;
  }
  .r-col.offset-l2 {
    margin-left: 16.6666666667%;
  }
  .r-col.pull-l2 {
    right: 16.6666666667%;
  }
  .r-col.push-l2 {
    left: 16.6666666667%;
  }
  .r-col.offset-l3 {
    margin-left: 25%;
  }
  .r-col.pull-l3 {
    right: 25%;
  }
  .r-col.push-l3 {
    left: 25%;
  }
  .r-col.offset-l4 {
    margin-left: 33.3333333333%;
  }
  .r-col.pull-l4 {
    right: 33.3333333333%;
  }
  .r-col.push-l4 {
    left: 33.3333333333%;
  }
  .r-col.offset-l5 {
    margin-left: 41.6666666667%;
  }
  .r-col.pull-l5 {
    right: 41.6666666667%;
  }
  .r-col.push-l5 {
    left: 41.6666666667%;
  }
  .r-col.offset-l6 {
    margin-left: 50%;
  }
  .r-col.pull-l6 {
    right: 50%;
  }
  .r-col.push-l6 {
    left: 50%;
  }
  .r-col.offset-l7 {
    margin-left: 58.3333333333%;
  }
  .r-col.pull-l7 {
    right: 58.3333333333%;
  }
  .r-col.push-l7 {
    left: 58.3333333333%;
  }
  .r-col.offset-l8 {
    margin-left: 66.6666666667%;
  }
  .r-col.pull-l8 {
    right: 66.6666666667%;
  }
  .r-col.push-l8 {
    left: 66.6666666667%;
  }
  .r-col.offset-l9 {
    margin-left: 75%;
  }
  .r-col.pull-l9 {
    right: 75%;
  }
  .r-col.push-l9 {
    left: 75%;
  }
  .r-col.offset-l10 {
    margin-left: 83.3333333333%;
  }
  .r-col.pull-l10 {
    right: 83.3333333333%;
  }
  .r-col.push-l10 {
    left: 83.3333333333%;
  }
  .r-col.offset-l11 {
    margin-left: 91.6666666667%;
  }
  .r-col.pull-l11 {
    right: 91.6666666667%;
  }
  .r-col.push-l11 {
    left: 91.6666666667%;
  }
  .r-col.offset-l12 {
    margin-left: 100%;
  }
  .r-col.pull-l12 {
    right: 100%;
  }
  .r-col.push-l12 {
    left: 100%;
  }
}
